<style>
    .mud-dialog .mud-dialog-content {
        padding: unset;
    }

</style>



<MudDialog Style="background-color:#EFEED8; border-radius: 3rem; box-shadow: 0 15px 15px 0 rgba(145, 142, 106, 1), 0 7px 7px 0 rgba(145, 142, 106, 1); color:#12273D; font-family:Fredoka; width: 64vw; height: 24vw;">
    <TitleContent>
        <MudIconButton OnClick="closeAboutUs" Style="color: #12273D; position: absolute; left: 2vw; top: 1vh; cursor:pointer;" Icon="@Icons.Material.Filled.Close" aria-label="help"></MudIconButton>
    </TitleContent>
    <DialogContent>
        <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;">
            <img src="Images/DarkLogo.png" style="margin-bottom: 1rem; width: 20%;" />
            <p style="color:#12273D; margin-bottom: 1rem; font-size: medium;">מחולל ליצירת משחקי עסקים למנהלות ומנהלים</p>
            <p>פרויקט גמר | תשפ"ג, 2023</p>
            <a href="https://www.hit.ac.il/telem/overview" style="font-size: small; color: #12273D; border-bottom: 0.7px solid #12273D; padding-top: 1vh; cursor:pointer;">הפקולטה לטכנולוגיות למידה</a>
            <div style="display: flex; align-items: center; justify-content: center; margin-left: auto; margin-right: auto; padding-top: 11vh;">
                <a href="https://www.hit.ac.il/" style="display: contents;">
                    <img border="0" alt="hit logo" style="width: 20%; cursor:pointer;" src="Images/GreenHitLogo.png">
                </a>
                <div style="display: flex; flex-direction: column; justify-content: center; padding-right: 4vw;">
                    <p style="font-weight: 600; color:#12273D;">צוות הפרויקט:</p>
                    <p style="color:#12273D">גל אוקסנברג ונופר מאיר</p>
                    <p style="font-weight:600; color:#12273D">מנחים:</p>
                    <p style="color:#12273D">עומרית אבנשטיין ועמרי כהנא</p>
                </div>
            </div>
        </div>
    </DialogContent>
</MudDialog>





@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    void closeAboutUs()
    {
        MudDialog.Close(DialogResult.Ok(true));
    }


}